{% load static %}

<div class="search-container">
    <form method="GET" action="{% url 'buscar_productos' %}">
        <input type="text" name="query" class="search-input" placeholder="Buscar un producto específico (nombre/código)" required>
        <button type="submit" class="search-button"><i class="bi bi-search"></i></button>
    </form>
</div>

<div class="productos-lista">
    {% for producto in productos %}
    <div class="card">
        <div class="card-header">
            <div class="icono-item">
                <span class="material-icons">shopping_bag</span>
            </div>
            <div class="info-header">
                <h4>{{ producto.nombre }}</h4>
                <p>Código: {{ producto.codigo }}</p>
            </div>
            <div class="menu-dots">
                <i class="bi bi-three-dots-vertical"></i>
            </div>
        </div>
        <div class="card-image">
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
            {% else %}
                <img src="{% static 'images/placeholder.png' %}" alt="Imagen no disponible">
            {% endif %}
        </div>
        <div class="card-content">
            <p><strong>{{ producto.pumapuntos }} PUMA PUNTOS</strong></p>
            <p>{{ producto.existencia }} Disponibles</p>
            <p>{{ producto.dias_renta }} días de renta</p>
            <p>{{ producto.descripcion }}</p>
        </div>
        <div class="card-actions">
            {% if  perms.usuarios.eliminar_producto  %}

            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" onclick="setDeleteUrl('{% url 'eliminar_producto' producto.codigo %}')">Eliminar</button>
                <button class="btn btn-primary">Editar</button>
            {% elif perms.usuarios.rentar_producto %}
                <button class="btn btn-success">Rentar</button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>


<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-size">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
            </div>
        </div>
    </div>
</div>



