{% extends "verbuscar_plantilla.html" %}
{% load static %}
{% block titulo %} Usuarios {% endblock %}
{% block nombre %} Usuarios {% endblock %}


{% block buscar %}Buscar usuario (numero de cuenta){% endblock %}




{% block lista_items%}


<!-- Mostrar el mensaje si no hay resultados de búsqueda o si no hay usuarios registrados -->
{% if mensaje %}
    <div class="alert alert-warning custom-message {{ mensaje_clase }}">
        <i class="fa fa-exclamation-triangle"></i> <!-- Icono de advertencia -->
        {{ mensaje }}
    </div>
{% endif %}

<div class="usuarios-lista">

    {% for usuario in usuarios %}

        {% include 'usuario/ver_usuario.html' %}
    {% endfor %}
</div>



{% endblock%}



