{% extends "menu.html" %}
{% load static %}
{% block titulo %}  {% endblock %}
{% block nombre %}  {% endblock %}


{% block contenido %}
<!-- Aquí agregas la barra de búsqueda -->
<div class="search-container">
    <!-- Campo de búsqueda -->
    <input type="text" class="search-input" placeholder="{% block buscar %}{% endblock %}">
    <button class="search-button"><i class="bi bi-search"></i></button>
</div>

<!-- Aquí se puede agregar más contenido específico de la vista -->
 <!-- Bloque para contenido adicional -->
 {% block contenido_adicional %}{% endblock %}
{% endblock %}